<!-- CONTENT -->
<section>
	<div class="container">
		<header>
			<h3>Topik Pemberitaan - Hari Rabu, 23 September 2015</h3>
		</header>
		<div class="row">

			<div class="col-md-3">
				<form action="#" method="post" class="sky-form boxed">
					<header><small>Grafik Pembagian Topik</small></header>
					<fieldset>
						<section class="text-center">
							<div id="demo-sparkline-pie" class="box-inline "></div>
						</section>
					</fieldset>

				</form>

			</div>

			<div class="col-md-9">
				<form action="#" method="post" class="sky-form boxed">
					<fieldset>
						<section>
							<div class="col-md-4">
								<select class="selectpicker" title="Pilih Kategori Media" data-live-search="true" data-width="100%">
									<option data-hidden="true"></option>
									<option>Family</option>
									<option>Friend</option>
									<option>Partner</option>
									<option>Sport</option>
									<option>Movie</option>
									<option>Documents</option>
									<option>Music</option>
									<option>Video</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="selectpicker" title="Pilih Media" data-live-search="true" data-width="100%">
									<option data-hidden="true"></option>
									<option>Family</option>
									<option>Friend</option>
									<option>Partner</option>
									<option>Sport</option>
									<option>Movie</option>
									<option>Documents</option>
									<option>Music</option>
									<option>Video</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="selectpicker" title="Pilih Nada berita" data-live-search="true" data-width="100%">
									<option data-hidden="true"></option>
									<option>Family</option>
									<option>Friend</option>
									<option>Partner</option>
									<option>Sport</option>
									<option>Movie</option>
									<option>Documents</option>
									<option>Music</option>
									<option>Video</option>
								</select>
							</div>
						</section>
						<section>
							<button class="btn btn-success pull-left">Cari Data </button>
							<button class="btn btn-primary pull-left">Tutup Pencarian </button>
						</section>

					</fieldset>

				</form>

				<div class="sky-form boxed">
					<fieldset>
						<section>
							<div class="col-md-6">
								<span>Menampilkan 1 - 8 dari 8 hasil</span>
							</div>
							<div class="col-md-6">
								<span class="pull-right">Halaman 1 dari 1</span>
							</div>
						</section>

						<hr class="half-margins">

						<section>
							<ul class="pager">
								<li class="previous disabled"><a href="#">&larr; Previous</a></li>
								<li class="next"><a href="#">Next &rarr;</a></li>
							</ul>
						</section>

						<section>
							<h4>Back In Black (5 Berita)</h4>
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-small">
									<thead>
										<tr>
											<th>Tipe</th>
											<th>ID Berita</th>
											<th>Judul</th>
											<th>Media</th>
											<th>Tanggal</th>
											<th>Halaman / Jam Tayang</th>
											<th>Penanggung Jawab</th>
											<th>Versi</th>
											<th>Durasi Video</th>
											<th>Durasi Iklan</th>
										<tr>
									</thead>
									<tbody>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="10">
												<a href="#">Lihat sebagian berita untuk topik ini</a>
											</td>
										</tr>
									</tfoot>
								</table>	
							</div>

							<h4>Back In Black (5 Berita)</h4>
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-small">
									<thead>
										<tr>
											<th>Tipe</th>
											<th>ID Berita</th>
											<th>Judul</th>
											<th>Media</th>
											<th>Tanggal</th>
											<th>Halaman / Jam Tayang</th>
											<th>Penanggung Jawab</th>
											<th>Versi</th>
											<th>Durasi Video</th>
											<th>Durasi Iklan</th>
										<tr>
									</thead>
									<tbody>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
										<tr>
											<td><i class="fa fa-desktop"></i></td>
											<td>57380</td>
											<td>Djarum Black</td>
											<td>Trans TV</td>
											<td>23 Sep 15</td>
											<td>00.21</td>
											<td>Gatot Triyanto</td>
											<td>Back In Black</td>
											<td>15</td>
											<td>2</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="10">
												<a href="#">Lihat sebagian berita untuk topik ini</a>
											</td>
										</tr>
									</tfoot>
								</table>	
							</div>
						</section>

						<section>
							<ul class="pager">
								<li class="previous disabled"><a href="#">&larr; Previous</a></li>
								<li class="next"><a href="#">Next &rarr;</a></li>
							</ul>
						</section>

						<hr class="half-margins">

						<section>
							<div class="col-md-6">
								<span>Menampilkan 1 - 8 dari 8 hasil</span>
							</div>
							<div class="col-md-6">
								<span class="pull-right">Halaman 1 dari 1</span>
							</div>
						</section>
					</fieldset>

				</div>
			</div>

		</div>

	</div>
</section>

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		// SPARKLINE PIE CHART
		// =================================================================
		// Require sparkline
		// -----------------------------------------------------------------
		// http://omnipotent.net/jquery.sparkline/#s-about
		// =================================================================
		$("#demo-sparkline-pie").sparkline([5, 12, 17 ,55], {
			type: 'pie',
			width: '225',
			height: '225',
			tooltipChartTitle: 'Top Movies',
			tooltipFormat: '{{offset:offset}} ({{percent.1}}%)',
			tooltipValueLookups: {
				'offset': {
					0: 'Drama',
					1: 'Action',
					2: 'Comedy',
					3: 'Adventure'
				}
			},
			sliceColors: ['#2d4859','#fe7211','#7ad689','#128376'],
		});
	});
</script>
{/literal}